<nav class="bg-white dark:bg-gray-800 antialiased">
  <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-8">
        <div class="shrink-0">
          <a href="#" title="" class="">
            Quick Cart
          </a>
        </div>

        <ul
          class="hidden lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center"
        >
          <li>
            <a
              href="{% url 'home' %}"
              title=""
              class="flex text-sm font-medium text-gray-900 hover:text-primary-700 dark:text-white dark:hover:text-primary-500"
            >
              Home
            </a>
          </li>
        </ul>
      </div>

      <div class="flex items-center lg:space-x-6">
        <!-- Cart -->
        <div class="ml-4 flow-root lg:ml-6">
          <a href="{% url 'view-cart' %}" class="group -m-2 flex items-center p-2">
            <svg class="size-6 shrink-0 text-gray-400 group-hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
            </svg>
            <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">{{ cart_item_count }}</span>
            <span class="sr-only">items in cart, view bag</span>
          </a>
        </div>
        {% if not user.is_authenticated %}
        <div class="ml-auto flex items-center">
          <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
            <a href="{% url 'login' %}" class="text-sm font-medium text-gray-700 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">Sign in</a>
            <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
            <a href="{% url 'register' %}" class="text-sm font-medium text-gray-700 hover:text-primary-700 dark:text-white dark:hover:text-primary-500">Create account</a>
          </div>
        </div>
        {% else %}
        <button
          id="userDropdownButton1"
          data-dropdown-toggle="userDropdown1"
          type="button"
          class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-gray-100 dark:hover:bg-gray-700 text-sm font-medium leading-none text-gray-900 dark:text-white"
        >
          <svg
            class="w-5 h-5 me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-width="2"
              d="M7 17v1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-4a3 3 0 0 0-3 3Zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
          Account
          <svg
            class="w-4 h-4 text-gray-900 dark:text-white ms-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 9-7 7-7-7"
            />
          </svg>
        </button>

        <div
          id="userDropdown1"
          class="hidden z-10 w-56 divide-y divide-gray-100 overflow-hidden overflow-y-auto rounded-lg bg-white antialiased shadow dark:divide-gray-600 dark:bg-gray-700"
        >
          <ul
            class="p-2 text-start text-sm font-medium text-gray-900 dark:text-white"
          >
            <li>
              <a
                href="{% url 'profile' %}"
                title=""
                class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >
                My Account
              </a>
            </li>
            <li>
              <a
                href="{% url 'order-list' %}"
                title=""
                class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
              >
                My Orders
              </a>
            </li>
          </ul>
          <div class="p-2 text-sm font-medium text-gray-900 dark:text-white">
            <a
              href="{% url 'logout' %}"
              title=""
              class="inline-flex w-full items-center gap-2 rounded-md px-3 py-2 text-sm hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              Sign Out
            </a>
          </div>
        </div>
        {% endif %}

        <button
          type="button"
          data-collapse-toggle="ecommerce-navbar-menu-1"
          aria-controls="ecommerce-navbar-menu-1"
          aria-expanded="false"
          class="inline-flex lg:hidden items-center justify-center hover:bg-gray-100 rounded-md dark:hover:bg-gray-700 p-2 text-gray-900 dark:text-white"
        >
          <span class="sr-only"> Open Menu </span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="M5 7h14M5 12h14M5 17h14"
            />
          </svg>
        </button>
      </div>
    </div>

    <div
      id="ecommerce-navbar-menu-1"
      class="bg-gray-50 dark:bg-gray-700 dark:border-gray-600 border border-gray-200 rounded-lg py-3 hidden px-4 mt-4"
    >
      <ul
        class="text-gray-900 dark:text-white text-sm font-medium space-y-3"
      >
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Home</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Best Sellers</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Gift Ideas</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Games</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Electronics</a
          >
        </li>
        <li>
          <a href="#" class="hover:text-primary-700 dark:hover:text-primary-500"
            >Home & Garden</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('myCartDropdownButton1').click();
  });
</script>